@import "fonts.css";
@import "styles.css";
@import "animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
    @apply uppercase;
    @apply tracking-wide
  }

  body {
    @apply font-body;
  }

  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
}

body.fontPrev {
  font-family: "DIN", sans-serif;
}

/* Brutalist styles */
.border-2 {
  border-width: 2px;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Remove focus outline from all links */
a:focus {
  outline: none;
}

/* Remove focus outline from buttons */
button:focus {
  outline: none;
}

/* Remove focus outline from all focusable elements */
*:focus {
  outline: none;
}

/* Transitions */
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.link {
  @apply underline decoration-dotted underline-offset-4 hover:opacity-80 focus:opacity-80 active:opacity-95 hover:decoration-solid;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
